<ul id="menu">
    <li> <a href=#> Movies </a> </li>
    <li>  <a href=#> Stream </a> </li>
    <li> <a href=#> Events </a></li>
    <li><a href=#> Play </a></li>
    <li><a href=#> Sports </a></li>
    <li><a href=#> Activities </a></li>
     <li><a class="buzz" href=#> Buzz                                                             </a></li>
      <li><a href=#>                ListYourShow </a></li>
                        <li><a href=#> Corparates </a></li>
                            <li><a href=#> Offer </a></li>
              <li><a href=#>GiftCards</a></li>
</ul>

   