.filler {
    flex: 1 1 auto;
 }
 .gap {
    margin-right: 10px;
 }
 mat-toolbar{
    background-color: rgb(23, 16, 21);
}
mat-toolbar-row{
   background-color: rgb(46, 1, 37);
   height: 38px;
}
h1{
font-size: 20px;
font-weight: bold;
}